+1 2362391750     event@after.org.in
------------------------------------

Hybrid Event (Online and In-Person)
-----------------------------------

اختيار اللغةالعربيةالآتشيةالآيسلنديةالأبخازيةالأدمورتيةالأذريةالأرديةالأرمنيةالأساميةالإسبانيةالإسبرانتوالإستونيةالأشوليةالأفارالأفريقانيةالألبانيةالألمانيةالألورالأمازيغيةالأمازيغية (التيفيناغ)الأمهريةالإندونيسيةالإنكتيتوتية (اللاتينية)الإنكتيتوتية (المقاطع)الأواديةالأواريةالأوديا (الأوريا)الأوروميةالأوزبكيةالأوسيتيةالأوكرانيةالأوكسيتانيةالأويغوريةالإيبانيةالأيرلنديةالإيطاليةالإيغبوالإيلوكانوالأيماراالإيويالبابيامنتوالباتاك السيمالونغونيةالباتاك توباالباتاك كاروالباتوا الجامايكيةالباسكيةالباشتويةالباشكيريةالبالينيةالبامباراالبانغاسينيةالباوليةالبتاويةالبرتغالية (البرازيل)البرتغالية (البرتغال)البريتانيةالبلغاريةالبلوشيةالبنجابية (الشاموخية)البنجابية (الغورموخية)البنغاليةالبهاسا النيبالية (النوارية)البوجبوريةالبورميةالبورياتالبوسنيةالبولنديةالبيكوليةالبيلاروسيةالبيمباالتاميليةالتاهيتيةالتايلانديةالتتاريةالتتارية القرمية (السيريلية)التتارية القرمية (اللاتينية)التركمانيةالتركيةالتسوانيةالتسونغاالتشامورويةالتشوفاشيالتشوكيةالتشيكيةالتشيلوباالتوفانالتوك بيسينالتولوالتومبوكاالتونغيةالتّويالتيبتيةالتيتوميةالتيغرينيةالتيفالتيلوغويةالجاليكيةالجاويةالجورانيةالجورجيةالجينغفوالخاسيةالخميريةالخوساالدانمركيةالدَريةالدزونغاالدوغريةالدومبيالديفهيةالدينكاويةالديوليةالروسيةالرومانيةالرومنيةالرونديةالزابوتيكيةالزولوالساموانيةالسامي (الشمالية)الساندينيزيةالسانغوالسبيديةالسلوفاكيةالسلوفينيةالسنتالية (اللاتينية)السنتالية (أول تشيكي)السنديةالسنسكريتيةالسنهاليةالسواتيةالسواحيليةالسوسوالسويديةالسيبيوانيةالسيسوتوالسيليزيةالشانالشوناالشيشانيةالشيشيواالصربيةالصقليةالصوماليةالصينية (التقليدية)الصينية (المبسطة)الطاجيكيةالعبريةالغاالغوجاراتيةالغيلية الأسكتلنديةالفارسيةالفرنسيةالفرنسية (كندا)الفريزيةالفريوليةالفلبينيةالفنلنديةالفولانيةالفونالفياروسيةالفيتناميةالفيجيةالفينداالفينيسيةالقطلونيةالقيرغيزيةالكابامبانغانيةالكازاخيةالكالاليستالكانتونيالكانوريالكردية (السورانية)الكردية (الكرمانجية)الكرواتيةالكريوالكريولية السيشيليةالكريولية الهايتيةالكناديةالكورسيكيةالكوريةالكوك بوروكالكوميةالكونكانيةالكيتشواالكيتوباالكيغاالكيكتشيالكيكونغوالكينياروانديةاللاتغاليةاللاتفيةاللاتينيةاللاوواللغة الكرييولية (موريشيوس)اللوغنديةاللوكسمبورغيةاللومبارديةالليتوانيةالليغوريةالليمبورغيةاللينغالاالليوالمادريزالماراثيةالمارشاليةالماکاسارالمالايالاميةالمالطيّةالماليزية (جاوي)المامالمانكسالماوريةالمايا اليوكاتيةالمايثيليةالمدغشقريةالمرواديالمقدونيةالملايوالمنغوليةالميتية (المانيبورية)الميدو ماريالميزوالمينانغكابوالناواتل (هواستيكا الشرقية)النداوالنديبيل (الجنوبية)النرويجيةالنكوالنويرالنيباليةالهاكا تشينالهانسريكالهاوائيةالهمونجيةالهنديةالهنغاريةالهوساالهولنديةالهيليغاينونيةالواراي وارايالوُلوفيةالويلزيةاليابانيةالياقوتيةاليوربايةاليونانيةالييدية

تدعمه [![Google ترجمة](https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_42x16dp.png)ترجمة](https://translate.google.com)

[![](images/after-logo-final.png)](#)
☰

* [Home](index.php?id=100947439)
* [Paper Submission](paper-submission.php?id=100947439)
* [Call for Paper](call-for-paper.php?id=100947439)
* [Registration](registration.php?id=100947439)
* [Instructions](#) 

  [Author Guidelines](author-guidelines.php?id=100947439)
  [For Presentation](for-presentation.php?id=100947439)
  [For Registration](for-registration.php?id=100947439)
* [Advisory Council](#) 

  [Eligibility Criteria for the Advisory Council members](eligiblity-criteria.php?id=100947439)
  [Roles and Responsibilities for the Advisory Council members](roles.php?id=100947439)
  [Apply for the Advisory Council member](apply-council.php?id=100947439)
  [Advisory Council member](advisory-council-member.php?id=100947439)
* [Journal Publication](#)

  [Journal Listings](journal-listings.php?id=100947439)
  [Process Flow](publication-process.php?id=100947439)
  [Author Services](author-support.php?id=100947439)
* [Conference Speakers](#) 

  [Speaker Criteria](speaker-criteria.php?id=100947439)
  [Speaker Application](submit-proposal.php?id=100947439)
  [Featured Speakers](past-conf-speakers.php?id=100947439)
* [Venue](venue.php?id=100947439)
* [Contact](contact.php?id=100947439)

International Conference on Emergency Nursing and Healthcare   (ICENH-26)
=========================================================================

1st - 2nd December 2026Berlin, Germany
--------------------------------------

### Organized by:- **Atlantic Federation for Technical Education & Research (AFTER)** In Association with:-

**Advancing Knowledge Without Limits**

**AFTER ensures academic engagement remains active without interruption in the current global situation. Researchers can present and publish through integrated online and hybrid formats.**

#### Academic Institutions Whose Scholars Have Contributed

![](images/cun.png)![](images/uni.png)![](images/aps1.png)![](images/aps2.png)![](images/aps3.png)![](images/aps4.png)![](../images/ap6.png)![](images/ap11.png)![](../images/lg6.png)![](../images/lg8.png)

[Home](index.php?id=100947439)
------------------------------

[Paper Submission](paper-submission.php?id=100947439)
-----------------------------------------------------

[Call for Papers](call-for-paper.php?id=100947439)
--------------------------------------------------

[Apply Committee](join-membership-form.php?id=100947439)
--------------------------------------------------------

[Publication](publication.php?id=100947439)
-------------------------------------------

[Registration](registration.php?id=100947439)
---------------------------------------------

[Collaboration](collaboration.php?id=100947439)
-----------------------------------------------

[Tentative Program](tentative-program.php?id=100947439)
-------------------------------------------------------

[Venue](venue.php?id=100947439)
-------------------------------

[Awards](awards.php?id=100947439)
---------------------------------

[FAQ](faq.php?id=100947439)
---------------------------

[Download](download.php?id=100947439)
-------------------------------------

Instructions
------------

* [Author
  Guidelines](author-guidelines.php?id=100947439)
* [For
  Presentation](for-presentation.php?id=100947439)
* [For
  Registration](for-registration.php?id=100947439)

[Do's and Dont's](dos-and-donts.php?id=100947439)
-------------------------------------------------

#### Important dates

##### Early Bird Entry deadline

01 Nov 2026

##### Abstract Submission deadline

11th Nov 2026

##### General registration

16th Nov 2026

##### Conference date

1st - 2nd December 2026

[
Your browser does not support the video tag.
](/assets/images/AFTER-WEBSITE-VIDEO-01.mp4)

#### Welcome to ICENH-26

**International Conference on Emergency Nursing and Healthcare(ICENH-26)**
will be held in **Berlin, Germany** on
**1st - 2nd December 2026**

It is the hope of the **( ICENH-26)**
Conference that you will join us, either in person or online, to take complete
advantage of all that this event has to offer. This entire conference has been organized with
the sole intention of allowing
participants access to the latest research insights, and opportunities to disseminate research,
network with fellow
professionals, and take advantage of opportunities to accelerate their careers.

**Atlantic Federation for Technical Education & Research (AFTER)** is proud to host
this event, which serves as a leading
international stage for showcasing the latest advancements and innovations in the field. Our aim
is to provide a dynamic
platform where industry professionals and academics can come together to exchange ideas and
discuss the latest developments.

The focal point of this conference is to provide attendees with a chance to share their
knowledge and insights with a worldwide audience.
Our comprehensive program will include industry-driven presentations, expert panels, and keynote
speeches from global thought leaders.

As a highly anticipated event, drawing the attention of the global academic community, this
conference will be built on the
bedrock of outstanding research contributions by highly talented professionals from the global
research community, public sector, and industry.

During the conference, attendees, presenters, keynote speakers, and volunteers will have access
to top-notch facilities, resources,
and opportunities, allowing them to achieve their professional goals. Furthermore, the event
will serve as an excellent networking
opportunity, providing delegates with the chance to form business and research relationships,
engage in high-level discussions,
and foster future international collaborations. These experiences will significantly enrich your
professional growth and development.

[![After Banner](images/AFTER.jpg)](paper-submission.php?id=100947439)

### Important Conference Alerts:

"Stay on top of all essential announcements for the AFTER International Conference in Berlin. This section includes the latest news, deadlines, and updates for your convenience."

* Call for Papers Extended:   
  "The deadline for full paper submissions has been extended for the AFTER International Conference in **Berlin**. Submit your research by today to participate in one of the top conferences."
* Certificate of Presentation:  
  "Present your research and receive a Certificate of Presentation to recognise your valuable contribution to the conference."
* Abstract Submissions Open:  
  "Abstract submissions for the **Berlin** event are now open! Don’t miss the chance to present your research. [Submit now.](paper-submission.php?id=100947439) "
* Networking with Global Experts:   
  "Engage with researchers and professionals from around the world at the **Berlin** conference. Build collaborations and gain insights from leading experts."
* Keynote Speaker Sessions:   
  "Don’t miss our Keynote Sessions in **Berlin**, featuring global leaders and innovators sharing their knowledge."
* Best Paper & Best Paper Presentation Award:  
  "Submit your paper and stand a chance to win the Best Paper Presentation Award. The winner will be recognized at the conference in **Berlin**."
* SDG-Inspired Conference Focus:  
  "Our conference will highlight research that addresses global sustainability, inclusive education, and solutions for environmental challenges."

#### Important Download

##### Conference Flyer

[Click here](#)
---------------

#### Follow the Latest in Research

Get updates on trending topics and upcoming conferences in your domain.

[Subscribe](#)

⚡ Takes less than 30 seconds • No spam • Only relevant updates

×

Personal Details

Tell us who you are

Full Name

Please enter your full name.

Email Address

Please enter a valid email address.

Phone Number

Country codeAfghanistan (+93)Albania (+355)Algeria (+213)Andorra (+376)Angola (+244)Antigua & Deps (+1 268)Argentina (+54)Armenia (+374)Australia (+61)Austria (+43)Azerbaijan (+994)Bahamas (+1 242)Bahrain (+973)Bangladesh (+880)Barbados (+1 246)Belarus (+375)Belgium (+32)Belize (+501)Benin (+229)Bhutan (+975)Bolivia (+591)Bosnia Herzegovina (+387)Botswana (+267)Brazil (+55)Brunei (+673)Bulgaria (+359)Burkina (+226)Burundi (+257)Cambodia (+855)Cameroon (+237)Canada (+1)Cape Verde (+238)Central African Rep (+236)Chad (+235)Chile (+56)China (+86)Colombia (+57)Comoros (+269)Congo (+242)Congo {Democratic Rep} (+243)Costa Rica (+506)Croatia (+385)Cuba (+53)Cyprus (+357)Czech Republic (+420)Denmark (+45)Djibouti (+253)Dominica (+1 767)Dominican Republic (+1 809)East Timor (+670)Ecuador (+593)Egypt (+20)El Salvador (+503)Equatorial Guinea (+240)Eritrea (+291)Estonia (+372)Ethiopia (+251)Fiji (+679)Finland (+358)France (+33)Gabon (+241)Gambia (+220)Georgia (+995)Germany (+49)Ghana (+233)Greece (+30)Grenada (+1 473)Guatemala (+502)Guinea (+224)Guinea-Bissau (+245)Guyana (+592)Haiti (+509)Honduras (+504)Hungary (+36)Iceland (+354)India (+91)Indonesia (+62)Iran (+98)Iraq (+964)Ireland {Republic} (+353)Israel (+972)Italy (+39)Ivory Coast (+225)Jamaica (+1 876)Japan (+81)Jordan (+962)Kazakhstan (+7)Kenya (+254)Kiribati (+686)Korea North (+850)Korea South (+82)Kosovo (+383)Kuwait (+965)Kyrgyzstan (+996)Laos (+856)Latvia (+371)Lebanon (+961)Lesotho (+266)Liberia (+231)Libya (+218)Liechtenstein (+423)Lithuania (+370)Luxembourg (+352)Macedonia (+389)Madagascar (+261)Malawi (+265)Malaysia (+60)Maldives (+960)Mali (+223)Malta (+356)Marshall Islands (+692)Mauritania (+222)Mauritius (+230)Mexico (+52)Micronesia (+691)Moldova (+373)Monaco (+377)Mongolia (+976)Montenegro (+382)Morocco (+212)Mozambique (+258)Myanmar{Burma} (+95)Namibia (+264)Nauru (+674)Nepal (+977)Netherlands (+31)New Zealand (+64)Nicaragua (+505)Niger (+227)Nigeria (+234)Norway (+47)Oman (+968)Pakistan (+92)Palau (+680)Panama (+507)Papua New Guinea (+675)Paraguay (+595)Peru (+51)Philippines (+63)Poland (+48)Portugal (+351)Qatar (+974)Romania (+40)Russian Federation (+7)Rwanda (+250)St Kitts & Nevis (+1 869)St Lucia (+1 758)Saint Vincent & the Grenadines (+1 784)Samoa (+685)San Marino (+378)Sao Tome & Principe (+239)Saudi Arabia (+966)Senegal (+221)Serbia (+381)Seychelles (+248)Sierra Leone (+232)Singapore (+65)Slovakia (+421)Slovenia (+386)Solomon Islands (+677)Somalia (+252)South Africa (+27)South Sudan (+211)Spain (+34)Sri Lanka (+94)Sudan (+249)Suriname (+597)Swaziland (+268)Sweden (+46)Switzerland (+41)Syria (+963)Taiwan (+886)Tajikistan (+992)Tanzania (+255)Thailand (+66)Togo (+228)Tonga (+676)Trinidad & Tobago (+1 868)Tunisia (+216)Turkey (+90)Turkmenistan (+993)Tuvalu (+688)Uganda (+256)Ukraine (+380)United Arab Emirates (+971)United Kingdom (+44)United States (+1)Uruguay (+598)Uzbekistan (+998)Vanuatu (+678)Vatican City (+379)Venezuela (+58)Vietnam (+84)Yemen (+967)Zambia (+260)Zimbabwe (+263)

Please select a country code and enter your phone number.

Participation Category

Select Participation CategoryListenerPresenter

Please select a participation category.

Conference Details

Help us personalise your experience

Topic of Interest

Please enter your Topic of Interest.

Conference Location

Please enter your Conference Location.

Send Message

Your data is 100% secure & confidential

Your message has been sent successfully! We'll get back to you soon.

Technology, Research, and Education for a Better Future

**AFTER** integrates research, education, and emerging technology to foster progress
**across multiple SDGs**. The organization actively
supports goals related to quality education **(SDG 4), decent work and economic growth (SDG 8), and
innovation (SDG 9)**.
By creating inclusive access to tech-enabled learning and driving applied research,  **AFTER helps build
resilient societies and inclusive knowledge economies**

![](../assets/images/sdg-set3.jpg)

![](https://after.org.in/assets/images/AFTER.jpg)

Latest Proceedings
------------------

![Card image cap](../assets/images/5th-March-2026-AFTER.png)

5th March, 2026

[View More](https://academicresearchlibrary.com/proceedings/760)

![Card image cap](../assets/images/3rd-April-2026-AFTER.png)

3rd April, 2026

[View More](https://academicresearchlibrary.com/proceedings/799)

![Card image cap](../assets/images/30th%20April%202026%20-%20AFTER.png)

30th April, 2026

[View More](https://academicresearchlibrary.com/proceedings/831)

![Card image cap](../assets/images/30th-December-2025.png)

30th December, 2025

[View More](https://academicresearchlibrary.com/proceedings/666)

![Card image cap](../assets/images/13th-January-2026.png)

13th January, 2026

[View More](https://academicresearchlibrary.com/proceedings/679)

Conference Session Tracks
-------------------------

Discover Topics

This **ICENH**
delivers a comprehensive set of session tracks addressing key research areas,
global trends, and interdisciplinary innovations across
**Nursing,Healthcare**.

It serves as a strategic platform for researchers, academicians, and industry leaders
to collaborate and share knowledge.

Each track is meticulously curated to foster intellectual exchange
and impactful research discussions.

Committed to global progress, the conference emphasizes sustainability,
ethical research, and knowledge-driven transformation.

![Icon](images/SDGs/assigned-sdg.png)

#### Aligned SDGs

![SDG 3](images/SDGs/SDG3.png)
SDG 3 – Good Health and Well-being

![SDG 4](images/SDGs/SDG4.png)
SDG 4 – Quality Education

![SDG 8](images/SDGs/SDG8.png)
SDG 8 – Decent Work and Economic Growth

[Discover more about SDGs](list-session-tracks.php?id=100947439)

[01 

### Innovations in Emergency Nursing Practice](list-session-tracks.php?id=100947439)
[02 

### Patient-Centered Care in Emergency Settings](list-session-tracks.php?id=100947439)
[03 

### Evidence-Based Practices in Nursing](list-session-tracks.php?id=100947439)
[04 

### Community Health and Emergency Response](list-session-tracks.php?id=100947439)
[05 

### Pediatric and Geriatric Emergency Care](list-session-tracks.php?id=100947439)

Find out how these session tracks correspond to the Sustainable Development Goals
on the Session Tracks page.

[View Topics](list-session-tracks.php?id=100947439)

Past Conference Speakers
------------------------

![Dr. Aida Mehrad](https://dashboard.ardaconference.com/images/past_speaker/dr-aida-mehrad_1778376187_Dr_Aida_Mehrad.png)

Dr. Aida Mehrad

Head of Academic Department, Professor,Researcher & Industrial, and Organizational Psychologist

Psychology- Educational Science

UIC Barcelona International University of Catalonia

![Sumit Kumar Singh](https://dashboard.ardaconference.com/images/past_speaker/sumit-kumar-singh_1778376187_Sumit_Kumar_Singh.png)

Sumit Kumar Singh

Pharmaceutical data science leader

PM.S in Science

IIT Kharagpur

![Tathagata Adhikary](https://dashboard.ardaconference.com/images/past_speaker/tathagata-adhikary_1778376187_Tathagata_Adhikary.png)

Tathagata Adhikary

Senior Research

Bioscience and Engineering

Jadavpur University

[View Past Speaker Profiles](pastspeakers_list.php?id=100947439)

Recent Awardees
---------------

ICBEFM-25
July 7, 2025 | Abu Dhabi, UAE

Maria Palazzo

Universitas Mercatorum, Rome, Italy

"Rethinking Sustainable Entrepreneurship: The Italian Case in Global Perspective"

SDG 8: Decent Work and Economic Growth

IC-E-25
July 8, 2025 | Shanghai, China

Tulgaa EnkhOyun

Research Institute of Veterinary Medicine, Mongolia

"Environmental Impact on the Health of Mongolian Pastoral Livestock"

SDG 15: Life on Land

ICMSFE-25
August 5, 2025 | Adelaide, Australia

V. B. Singh

Jawaharlal Nehru University, New Delhi, India

"Explainable AI-Driven Code Smell Detection and Refactoring: A Hybrid Framework Using LIME and SHAP"

SDG 9: Industry, Innovation and Infrastructure

[View All Awardees](best-paper-awards.php?id=100947439)

Recent Highlights

![1](https://after.org.in/assets/images/9th%20November%202025%C2%A0in%C2%A0Istanbul,%C2%A0Turkey%20-International%20Congress%20on%20Education%20and%20Learning%20(CEL-25).jpg)

International Congress on Education and Learning (CEL-25)

![1](https://after.org.in/assets/images/IMG-20251018-WA0008.jpg)

World Congress on Health Economics, Health Policy and Healthcare Management (WCHEHPHM-25)

![1](https://after.org.in/assets/images/pic1.jpg)

International Conference on Recent Advances in Medical and Health Sciences (ICRAMHS-25)

![1](https://after.org.in/assets/images/pic2.jpg)

International Conference on Recent Advances in Medical and Health Sciences (ICRAMHS-25)

![1](https://after.org.in/assets/images/pic3.jpg)

International Conference on Oral Health and Preventive Dentistry (ICOHPD-25)

![1](https://after.org.in/assets/images/pic4.jpg)

International Conference on Applied Mathematics (ICAM-25)

![1](https://after.org.in/assets/images/pic5.jpeg)

International Conference on Innovation Management, Technology, and Brain Science

![1](https://after.org.in/assets/images/pic6.jpg)

International Conference on Veterinary Gastroenterology and Gastrointestinal Physiology

![1](https://after.org.in/assets/images/pic7.jpg)

International Conference on Applied Mathematics (ICAM-25)

![1](https://after.org.in/assets/images/pic8.jpg)

International Conference on Innovation Management, Technology, and Brain Science

![1](https://after.org.in/assets/images/home-highlights1.jpg)

International Conference on Higher Education Teaching and Learning (ICHETL-25)

![1](https://after.org.in/assets/images/home-highlight2.jpg)

International Conference on Business and Management (ICBM-25)

![1](https://after.org.in/assets/images/home-highlight3.jpeg)

International Conference on Micromanufacturing and Nanotechnology (ICMN-25)

![1](https://after.org.in/assets/images/home-highlight4.jpeg)

International Conference on Curriculum and Teacher Education (ICCTE -25) - 18th December 2025 | Tokyo, Japan

![1](https://after.org.in/assets/images/home-highlight5.jpg)

World Congress on Soil and Water Sciences (WCSWS-25) - 17th December 2025 | Istanbul, Turkey

Participants' Thoughts & Feedback

![](../images/donghuu.png)

It provided an invaluable platform for presenting my research and connecting with leading experts in the field.

##### Dongju Kim, Research Professor Artificial Intelligence Research Institute (PIAI), POSTECH

![](../images/remy.png)

The event delivered exceptionally high-quality content and fostered a welcoming, collaborative learning environment.

##### Remmy David Chuma PhD Candidate, School of Management, Huazhong University of Science and Technology

![](../images/park.png)

This conference provided a valuable opportunity to engage with diverse research perspectives from scholars around the world.

##### Hyerin Park Master’s Student, Sungkyunkwan University

![](../images/after1.png)

This Conference provides an excellent opportunity to exchange knowledge and experiences with experts from around the world.

##### Dr.Samaneh Rokhgireh Associate Professor of Obstetrics & Gynecology at Iran University of Medical Science, Fellowship in minimally invasive surgery

![](../images/after2.png)

The event delivered high-quality content and a welcoming environment that made connecting with other participants easy and meaningful.

##### Milad Sabaghi PhD student, Bari Aldo Moro University (UNIBA)

![](../images/after-testi-1.png)

The conference was an inspiring gathering of minds, brimming with insightful discussions and forward-thinking presentations.Moreover, the team's commitment to
fostering an interactive environment was evident throughout the event.

##### Saranya Balaguru, Health/ Manager Product and Technology Solutions specialized in Automation USA

![](../images/after-testi-5.png)

The event brought together passionate professionals dedicated to sharing their knowledge and expertise. I had the opportunity to provide practical strategies to help
individuals pursue their purpose, reignite their passion, and fuel their perseverance.

##### Donya Smida, Stress management and leadership coach and speaker Tunisia

![](../images/after-testi-2.png)

I was thoroughly impressed with the entire experience. The event was well-organized, with smooth logistics and engaging content.
The conference hall was easy to navigate, and the support team was helpful

##### Choat Inthawongse Department of Industrial Engineering and Management, Malaysia

![](../images/after-testi-3.png)

A great opportunity to connect with people of diverse expertise, from both academic and industrial backgrounds. The scientific content of the
conference was very informative. All the staff were very professional and helpful.

##### Dr. Eni Bushi. Quality Assurance Department, Tirana

![](../images/alka.png)

The organizers have demonstrated an extraordinary commitment to excellence.

##### Dr. Alka R. Patil University of Mumbai, India

❮

❯

Associate partners

![Card image](./images/oa-13.jpg)

![Card image](./images/oa-14.jpg)

![Card image](./images/oa-15.jpg)

![Card image](./images/oa-16.jpg)

![Card image](./images/oa-17.jpg)

![Card image](./images/oa-1.jpg)

[![upcoming conferences](./images/Allconferencealert-2.jpg)](https://allconferencealert.net/)

![Card image](./images/oa-3.jpg)

![Card image](./images/oa-4.jpg)

[![Card image](./images/oa-5.jpg)](https://internationalconferencealerts.com/)

![Card image](./images/oa-6.jpg)

[![Card image](./images/oa-7.jpg)](https://conferencealerts.co.in/)

![Card image](./images/oa-12.jpg)

Copyright © 2026 All Rights Reserved

![](images/tawk-icon.png)

+1 2362391750      event@after.org.in
-------------------------------------

[Terms and Conditions](https://after.org.in/terms.php)

x

Warning

Unauthorized entities may falsely claim to collect fees on behalf of AFTER Conference. To
prevent fraud, process all payments solely through our official
website and report suspicious requests to [event@after.org.in](mailto:event@after.org.in).

![](https://fonts.gstatic.com/s/i/productlogos/translate/v14/24px.svg)

النص الأصلي

تقييم هذه الترجمة

سيتم استخدام ملاحظاتك وآرائك للمساعدة في تحسين "ترجمة Google".